<aside class="side-nav">
    <nav>
        <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="/skills/">Skills</a></li>
        <li><a href="/infrastructure-experiments/">Infrastructure</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/competitions-events/">Competitions / Events</a></li>
        <li><a href="/blog-output/">Blog / Output</a></li>
        <li><a href="/learning-log/">Learning Log</a></li>
        <li><a href="/reading-log/">Reading Log</a></li>
        <li><a href="/interest-carrervision/">Interest & Career Vision</a></li>
        <li><a href="/environment-security/">Environment / Security</a></li>
        <li><a href="/contact/">Contact</a></li>
        </ul>
    </nav>
</aside>