
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
  "Yu Gothic","游ゴシック","Hiragino Kaku Gothic ProN","Hiragino Sans","Noto Sans JP",
  system-ui,
  -apple-system,
  BlinkMacSystemFont,"Segoe UI",
  sans-serif;
  line-height: 1.7;
  color: #222;
}


.layout {
  display: flex;
  max-width: 900px;   /* 中央カラム幅 */
  margin: 0 auto;
  min-height: 100vh;
}

#flex {
  display: flex;
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;   
}

main {
  flex: 1;
  padding: 2rem;
  text-align: left;
}


.skillseat {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;   
  list-style: none;
  padding: 0;
}

.skillseat li {
  width: calc(50% - 0.75rem);
}

.side-nav {
  background-color: white;
  border-left: 1px solid #ddd;
  padding: 1.25rem;
}

.side-nav ul{
  list-style: none; /*アサイドリストの点を消す*/
}

.side-nav ul li a{
  text-decoration: none;/*アンダーラインを消す*/
}

.header-nav {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.header-nav ul {
  display: flex;
  justify-content: center;
  background-color: white;
  list-style: none; /*ヘッダーリストの点を消す*/
}

.header-nav ul li {
  margin: 0 40px;
}

.header-nav ul li a {
  text-decoration: none;/*アンダーラインを消す*/
}


.footer-nav {
  width: 100%;
  background-color: #ddd;
  color: white;
  text-align: center;
  padding: 15px 10px 20px;
}

