* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  line-height: 1.7;
  color: #222;
}

main{
  flex-basis: 600px;
}

.header-nav {
  border-bottom: 1px solid #ddd;
  justify-content: center;
}
.header-nav ul {
display: flex;
justify-content: center;
border:2px solid blue;
background-color:white;
}
.header-nav ul li{
margin: 0 40px;
}

.side-nav {
  flex-basis: 100px;
  background-color: white;
  border-right: 1px solid #ddd;
  padding: 1rem;
}


.footer-nav {
  background-color:black;
  color:white;
  text-align: center;
  padding:15px 10px 20px;
}

div{
width:700px;
margin: 0 auto 50px;
display: flex;
}