* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  line-height: 1.7;
  color: #222;
}

.layout {
  display: flex;
  max-width: 900px;   /* 中央カラム幅 */
  margin: 0 auto;
  min-height: 100vh;
}

#flex {
  display: flex;
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;   
}

main {
  flex: 1;
  padding: 2rem;
  text-align: left;
}

.side-nav {
  background-color: white;
  border-left: 1px solid #ddd;
  padding: 1rem;
}

.side-nav ul{
  list-style: none; /*アサイドリストの点を消す*/
}

.header-nav {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.header-nav ul {
  display: flex;
  justify-content: center;
  background-color: white;
  list-style: none; /*ヘッダーリストの点を消す*/
}

.header-nav ul li {
  margin: 0 40px;
}

.footer-nav {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px 10px 20px;
}

